# ipaudio FMT: 0|M_ATiya|http://2026//2027
0|QURAN TARTEEL|https://Qurango.net/radio/tarateel
0|QURAN FARES ABBAD|https://qurango.net/radio/fares_abbad
0|QURAN ABD ELBASET|https://qurango.net/radio/abdulbasit_abdulsamad_mojawwad
0|QURAN MOHAMED AYOUB|https://qurango.net/radio/mohammed_ayyub
0|QURAN EMIRATES FM|https://zayedquran.gov.ae/stream.php
0|QURAN MAKKA FM|https://n07.radiojar.com/4wqre23fytzuv?rj-ttl=5&rj-tok=AAABnWgQA5QARnrh1DPruJOHgQ
0|QURAN CAIRO FM|https://n08.radiojar.com/8s5u5tpdtwzuv?rj-ttl=5&rj-tok=AAABnWgP0AIAKqQExnbfJFRpDw
0|ON SPORT FM|http://carina.streamerr.co:2020/stream/OnSportFm
0|ANIS 1   (HD-1)|http://anisfm.ddns.net
0|ANIS 1   (HD-2)|http://anisfm.pp.ua/1
0|ANIS 2   (HD-1)|http://anisfm2.ddns.net
0|ANIS 2   (HD-2)|http://anisfm.pp.ua/2
0|ANIS 3   (HD-1)|http://anisfm3.ddns.net
0|ANIS 3   (HD-2)|http://anisfm.pp.ua/3
0|ANIS 4   (HD-1)|http://anisfm4.ddns.net
0|ANIS 4   (HD-2)|http://anisfm.pp.ua/4
0|ANIS 5   (HD-1)|http://anisfm5.ddns.net
0|ANIS 5   (HD-2)|http://anisfm.pp.ua/5
0|ANIS 1     (SD)|http://anisfm.pp.ua/1M
0|ANIS 2     (SD)|http://anisfm.pp.ua/2M
0|ANIS 3     (SD)|http://anisfm.pp.ua/3M
0|ANIS 4     (SD)|http://anisfm.pp.ua/4M
0|ANIS 5     (SD)|http://anisfm.pp.ua/5M
0|ANIS 1  (LOW-1)|http://anisfmlow.ddns.net
0|ANIS 1  (LOW-2)|http://anisfm.pp.ua/1L
0|ANIS 2  (LOW-1)|http://anisfm2low.ddns.net
0|ANIS 2  (LOW-2)|http://anisfm.pp.ua/2L
0|ANIS 3  (LOW-1)|http://anisfm3low.ddns.net
0|ANIS 3  (LOW-2)|http://anisfm.pp.ua/3L
0|ANIS 4  (LOW-1)|http://anisfm4low.ddns.net
0|ANIS 4  (LOW-2)|http://anisfm.pp.ua/4L
0|ANIS 5  (LOW-1)|http://anisfm5low.ddns.net
0|ANIS 5  (LOW-2)|http://anisfm.pp.ua/5L
0|ANIS MAX 1  (HD)|http://anisfm.pp.ua/Mx1
0|ANIS MAX 2  (HD)|http://anisfm.pp.ua/Mx2
0|AHMED YAHYA 0|http://ahmadyahia.ddns.net
0|AHMED YAHYA 1|http://yahia1.audix.ggff.net/live1
0|AHMED YAHYA 2|http://yahia2.audix.ggff.net/live2
0|MEGA ANIS ON SPORT|http://audio.megashare.store/onsport
0|MEGA ANIS LIVE|http://audio.megashare.store/live
0|MEGA ANIS LOW|http://audio.megashare.store/low
0|MEGA ANIS 1|http://audio.megashare.store/live1
0|MEGA ANIS 2|http://audio.megashare.store/live2
0|MEGA ANIS 3|http://audio.megashare.store/live3
0|MEGA ANIS 4|http://audio.megashare.store/live4
0|MEGA ANIS 5|http://audio.megashare.store/live5
0|MEGA ANIS 6|http://audio.megashare.store/live6
0|MEGA ANIS 7|http://audio.megashare.store/live7
0|MEGA ANIS 8|http://audio.megashare.store/live8
0|BeiN 1  (HD)|http://62.138.18.147:11000/play/live/bb1.ts?uid=ipaudio&delay=-1
0|BeiN 2  (HD)|http://62.138.18.147:11000/play/live/bb2.ts?uid=ipaudio&delay=-1
0|BeiN 3  (HD)|http://62.138.18.147:11000/play/live/bb3.ts?uid=ipaudio&delay=-1
0|BeiN 4  (HD)|http://62.138.18.147:11000/play/live/bb4.ts?uid=ipaudio&delay=-1
0|BeiN 5  (HD)|http://62.138.18.147:11000/play/live/bb5.ts?uid=ipaudio&delay=-1
0|BeiN 6  (HD)|http://62.138.18.147:11000/play/live/bb6.ts?uid=ipaudio&delay=-1
0|فوكس 1|https://foxfm.xyz/4K-1/mpegts
0|فوكس 2|https://foxfm.xyz/4K-2/mpegts
0|فوكس 3|https://foxfm.xyz/4K-3/mpegts
0|فوكس 4|https://foxfm.xyz/4K-4/mpegts
